OPCUAServer/opcuaserver.json
[{"id":"2598dbdd2b455911","type":"function","z":"05ecf5a9d1ea61e2","name":"Set Flow Variables","func":"flow.set(\"command_pressure\",msg.payload[0].command_pressure)\nflow.set(\"measured_pressure\",msg.payload[0].measured_pressure)\nflow.set(\"command_flowrate\",msg.payload[0].command_pressure)\nflow.set(\"measured_flowrate\",msg.payload[0].measured_flowrate)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":505,"y":99,"wires":[[]]},{"id":"4c64055df52b08e6","type":"inject","z":"05ecf5a9d1ea61e2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"id\":27,\"command_pressure\":20,\"measured_pressure\":18,\"command_flowrate\":30,\"measured_flowrate\":29}]","payloadType":"json","x":250,"y":100,"wires":[["2598dbdd2b455911"]]},{"id":"a4fd0c92e52593e0","type":"opcua-compact-server","z":"05ecf5a9d1ea61e2","port":"4840","endpoint":"","productUri":"","acceptExternalCommands":true,"maxAllowedSessionNumber":10,"maxConnectionsPerEndpoint":10,"maxAllowedSubscriptionNumber":100,"alternateHostname":"","name":"","showStatusActivities":false,"showErrors":false,"allowAnonymous":true,"individualCerts":false,"isAuditing":false,"serverDiscovery":true,"users":[],"xmlsetsOPCUA":[],"publicCertificateFile":"","privateCertificateFile":"","registerServerMethod":1,"discoveryServerEndpointUrl":"","capabilitiesForMDNS":"","maxNodesPerRead":1000,"maxNodesPerWrite":1000,"maxNodesPerHistoryReadData":100,"maxNodesPerBrowse":3000,"maxBrowseContinuationPoints":10,"maxHistoryContinuationPoints":10,"delayToInit":1000,"delayToClose":200,"serverShutdownTimeout":100,"addressSpaceScript":"function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n    // server = the created node-opcua server\n    // addressSpace = address space of the node-opcua server\n    // eventObjects = add event variables here to hold them in memory from this script\n  \n    // internal sandbox objects are:\n    // node = the compact server node,\n    // coreServer = core compact server object for debug and access to NodeOPCUA\n    // this.sandboxNodeContext = node context node-red\n    // this.sandboxFlowContext = flow context node-red\n    // this.sandboxGlobalContext = global context node-red\n    // this.sandboxEnv = env variables\n    // timeout and interval functions as expected from nodejs\n\n    const opcua = coreServer.choreCompact.opcua;\n    const LocalizedText = opcua.LocalizedText;\n    const namespace = addressSpace.getOwnNamespace();\n    \n    const Variant = opcua.Variant;\n    const DataType = opcua.DataType;\n    const DataValue = opcua.DataValue;\n    \n    var flexServerInternals = this;\n    \n    this.sandboxFlowContext.set(\"command_pressure\",0);\n    this.sandboxFlowContext.set(\"measured_pressure\",0);\n    this.sandboxFlowContext.set(\"command_flowrate\",0);\n    this.sandboxFlowContext.set(\"measured_flowrate\",0);\n    \n    const rootFolder = addressSpace.findNode(\"RootFolder\");\n\n    const demoHydraulics = namespace.addFolder(rootFolder.objects,{\"browseName\": \"Demo-Hydraulics\"});\n    const pressureFolder = namespace.addFolder(demoHydraulics,{\"browseName\":\"Pressure\"});\n    const flowrateFolder = namespace.addFolder(demoHydraulics,{\"browseName\":\"FlowRate\"});\n\n    const command_pressure = namespace.addVariable({\n        \"organizedBy\" : pressureFolder,\n        \"browseName\" : \"Command Pressure\",\n        \"nodeId\" : \"ns=1;s=command_pressure\",\n        \"dataType\" : \"Double\",\n        \"value\" : {\n            \"get\" : function(){\n                return new Variant ({\n                    \"dataType\" : DataType.Double,\n                    \"value\" : flexServerInternals.sandboxFlowContext.get(\"command_pressure\")\n                });\n            },\n            \"set\": function(variant){\n                flexServerInternals.sandboxFlowContext.set(\n                    \"command_pressure\",\n                    parseFloat(variant.value)\n                );\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n\n    const measured_pressure = namespace.addVariable({\n        \"organizedBy\" : pressureFolder,\n        \"browseName\" : \"Measured Pressure\",\n        \"nodeId\" : \"ns=1;s=measured_pressure\",\n        \"dataType\" : \"Double\",\n        \"value\" : {\n            \"get\" : function(){\n                return new Variant ({\n                    \"dataType\" : DataType.Double,\n                    \"value\" : flexServerInternals.sandboxFlowContext.get(\"measured_pressure\")\n                });\n            },\n            \"set\": function(variant){\n                flexServerInternals.sandboxFlowContext.set(\n                    \"measured_pressure\",\n                    parseFloat(variant.value)\n                );\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n\n    const command_flowrate = namespace.addVariable({\n        \"organizedBy\" : flowrateFolder,\n        \"browseName\" : \"Command Flowrate\",\n        \"nodeId\" : \"ns=1;s=command_flowrate\",\n        \"dataType\" : \"Double\",\n        \"value\" : {\n            \"get\" : function(){\n                return new Variant ({\n                    \"dataType\" : DataType.Double,\n                    \"value\" : flexServerInternals.sandboxFlowContext.get(\"command_flowrate\")\n                });\n            },\n            \"set\": function(variant){\n                flexServerInternals.sandboxFlowContext.set(\n                    \"command_flowrate\",\n                    parseFloat(variant.value)\n                );\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n\n    const measured_flowrate = namespace.addVariable({\n        \"organizedBy\" : flowrateFolder,\n        \"browseName\" : \"Measured Flowrate\",\n        \"nodeId\" : \"ns=1;s=measured_flowrate\",\n        \"dataType\" : \"Double\",\n        \"value\" : {\n            \"get\" : function(){\n                return new Variant ({\n                    \"dataType\" : DataType.Double,\n                    \"value\" : flexServerInternals.sandboxFlowContext.get(\"measured_flowrate\")\n                });\n            },\n            \"set\": function(variant){\n                flexServerInternals.sandboxFlowContext.set(\n                    \"measured_flowrate\",\n                    parseFloat(variant.value)\n                );\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n          \n    done();\n  }","x":420,"y":180,"wires":[]},{"id":"71d030b30ef3e401","type":"OpcUa-Item","z":"05ecf5a9d1ea61e2","item":"ns=1;s=command_pressure","datatype":"Double","value":"","name":"","x":430,"y":240,"wires":[["0e7686e0c056536d"]]},{"id":"4b4356a98683440f","type":"inject","z":"05ecf5a9d1ea61e2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":300,"wires":[["71d030b30ef3e401","9bdfdabd6bddff9b","4536107c72924d85","13702779cf8105ec"]]},{"id":"0e7686e0c056536d","type":"OpcUa-Client","z":"05ecf5a9d1ea61e2","endpoint":"823a6f11.f75ab","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":620,"y":300,"wires":[[]]},{"id":"9bdfdabd6bddff9b","type":"OpcUa-Item","z":"05ecf5a9d1ea61e2","item":"ns=1;s=measured_pressure","datatype":"Double","value":"","name":"","x":430,"y":280,"wires":[["0e7686e0c056536d"]]},{"id":"4536107c72924d85","type":"OpcUa-Item","z":"05ecf5a9d1ea61e2","item":"ns=1;s=command_flowrate","datatype":"Double","value":"","name":"","x":430,"y":320,"wires":[["0e7686e0c056536d"]]},{"id":"13702779cf8105ec","type":"OpcUa-Item","z":"05ecf5a9d1ea61e2","item":"ns=1;s=measured_flowrate","datatype":"Double","value":"","name":"","x":430,"y":360,"wires":[["0e7686e0c056536d"]]},{"id":"823a6f11.f75ab","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:4840/","secpol":"None","secmode":"None","none":false,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""}]
