Delete<0.json
[{"id":"c272d3467a0d3bd0","type":"inject","z":"538d92db3e2bb34e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"AL1\":5,\"AL2\":6,\"AL3\":-2}","payloadType":"json","x":190,"y":140,"wires":[["3c2b2f42e618385e"]]},{"id":"3c2b2f42e618385e","type":"function","z":"538d92db3e2bb34e","name":"","func":"for(const key in msg.payload){\n    if(msg.payload[key] < 0 ){\n        delete msg.payload[key];\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":140,"wires":[["f07ca52f9688c52c"]]},{"id":"f07ca52f9688c52c","type":"debug","z":"538d92db3e2bb34e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":140,"wires":[]}]
