SensorStatusChecker.json
[
    {
        "id": "7e7b5991780c84f5",
        "type": "tab",
        "label": "Sensor Status Checker",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "a39dca0ad8aac4d8",
        "type": "group",
        "z": "7e7b5991780c84f5",
        "name": "Normal Function (Sending Database etc.)",
        "style": {
            "label": true
        },
        "nodes": [
            "7d193fd60d594d35"
        ],
        "env": [],
        "x": 714,
        "y": 219,
        "w": 266,
        "h": 82
    },
    {
        "id": "1cc10ec21a9e516e",
        "type": "group",
        "z": "7e7b5991780c84f5",
        "name": "Sensor failure handler",
        "style": {
            "label": true
        },
        "nodes": [
            "919a974bca546b09"
        ],
        "env": [],
        "x": 714,
        "y": 319,
        "w": 212,
        "h": 82
    },
    {
        "id": "65dbabc9d81f9cae",
        "type": "inject",
        "z": "7e7b5991780c84f5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "11",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SensorValue",
        "payloadType": "str",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "b49bd44b.b8ab38",
                "7d193fd60d594d35"
            ]
        ]
    },
    {
        "id": "b49bd44b.b8ab38",
        "type": "trigger",
        "z": "7e7b5991780c84f5",
        "name": "",
        "op1": "Sensor Active",
        "op2": "Sensor Inactive",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "919a974bca546b09"
            ]
        ]
    },
    {
        "id": "7d193fd60d594d35",
        "type": "debug",
        "z": "7e7b5991780c84f5",
        "g": "a39dca0ad8aac4d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "919a974bca546b09",
        "type": "debug",
        "z": "7e7b5991780c84f5",
        "g": "1cc10ec21a9e516e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 360,
        "wires": []
    }
]
