SQL_Query_Examples.json
[
    {
        "id": "59f913ad10ec391d",
        "type": "tab",
        "label": "SQL Query Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc73dddee2d6a616",
        "type": "sqlite",
        "z": "59f913ad10ec391d",
        "mydb": "a3de1af8ae569540",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 500,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2485a9c9d332e183",
        "type": "function",
        "z": "59f913ad10ec391d",
        "name": "Write",
        "func": "msg.topic = `INSERT INTO temperature_table (temperature,date) VALUES (`+msg.payload+`,datetime(\"now\"));`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 100,
        "wires": [
            [
                "dc73dddee2d6a616"
            ]
        ]
    },
    {
        "id": "65ee2c54c1780574",
        "type": "inject",
        "z": "59f913ad10ec391d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "21",
        "payloadType": "num",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "2485a9c9d332e183"
            ]
        ]
    },
    {
        "id": "e94c4a5562439d4c",
        "type": "change",
        "z": "59f913ad10ec391d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 160,
        "wires": [
            [
                "d88e7832c747b1c8"
            ]
        ]
    },
    {
        "id": "1b27535d9d3d03de",
        "type": "function",
        "z": "59f913ad10ec391d",
        "name": "Read",
        "func": "msg.topic = `SELECT * FROM temperature_table ORDER BY id DESC LIMIT 1`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 160,
        "wires": [
            [
                "cde4c71c37f6b9ec"
            ]
        ]
    },
    {
        "id": "cde4c71c37f6b9ec",
        "type": "sqlite",
        "z": "59f913ad10ec391d",
        "mydb": "a3de1af8ae569540",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "e94c4a5562439d4c"
            ]
        ]
    },
    {
        "id": "b273d406435d1404",
        "type": "inject",
        "z": "59f913ad10ec391d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "21",
        "payloadType": "num",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "1b27535d9d3d03de"
            ]
        ]
    },
    {
        "id": "d88e7832c747b1c8",
        "type": "ui_chart",
        "z": "59f913ad10ec391d",
        "name": "",
        "group": "c4e018332a1155de",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a3de1af8ae569540",
        "type": "sqlitedb",
        "db": "pimylifeupSQLite.db",
        "mode": "RWC"
    },
    {
        "id": "c4e018332a1155de",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "78a610c83b252fe7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78a610c83b252fe7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
