SQLLITE.json
[
    {
        "id": "59f913ad10ec391d",
        "type": "tab",
        "label": "SQL Query Example",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "dc73dddee2d6a616",
        "type": "sqlite",
        "z": "59f913ad10ec391d",
        "d": true,
        "mydb": "a3de1af8ae569540",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 500,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2485a9c9d332e183",
        "type": "function",
        "z": "59f913ad10ec391d",
        "name": "Write",
        "func": "msg.topic = `INSERT INTO temperature_table (temperature,timestamp) VALUES (`+msg.payload+`,`+msg.timestamp+`);`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 100,
        "wires": [
            [
                "dc73dddee2d6a616"
            ]
        ]
    },
    {
        "id": "65ee2c54c1780574",
        "type": "inject",
        "z": "59f913ad10ec391d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "21",
        "payloadType": "num",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "2485a9c9d332e183"
            ]
        ]
    },
    {
        "id": "e94c4a5562439d4c",
        "type": "change",
        "z": "59f913ad10ec391d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 160,
        "wires": [
            [
                "1597af43fa16169f"
            ]
        ]
    },
    {
        "id": "1b27535d9d3d03de",
        "type": "function",
        "z": "59f913ad10ec391d",
        "name": "Read",
        "func": "msg.topic = `SELECT * FROM temperature_table ORDER BY id DESC LIMIT 1`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 160,
        "wires": [
            [
                "cde4c71c37f6b9ec"
            ]
        ]
    },
    {
        "id": "cde4c71c37f6b9ec",
        "type": "sqlite",
        "z": "59f913ad10ec391d",
        "d": true,
        "mydb": "a3de1af8ae569540",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "e94c4a5562439d4c"
            ]
        ]
    },
    {
        "id": "b273d406435d1404",
        "type": "inject",
        "z": "59f913ad10ec391d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "inject",
        "payloadType": "str",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "1b27535d9d3d03de"
            ]
        ]
    },
    {
        "id": "1597af43fa16169f",
        "type": "debug",
        "z": "59f913ad10ec391d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "a3de1af8ae569540",
        "type": "sqlitedb",
        "db": "pimylifeupSQLite.db",
        "mode": "RWC"
    }
]
