telegram.json
[{"id":"163a2d42edb43ae4","type":"telegram receiver","z":"2868d66a6daa8be4","name":"","bot":"","saveDataDir":"","filterCommands":false,"x":830,"y":340,"wires":[["1ec3b825c6bf2c68"],["1ec3b825c6bf2c68"]]},{"id":"1ec3b825c6bf2c68","type":"debug","z":"2868d66a6daa8be4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":340,"wires":[]},{"id":"944555143e7c97bf","type":"group","z":"2868d66a6daa8be4","name":"Telegram Output for alert","style":{"label":true,"fill":"#7fb7df","color":"#000000"},"nodes":["3f087a60f909d773","c4bab28d03d614e0"],"x":754,"y":219,"w":472,"h":82},{"id":"3f087a60f909d773","type":"telegram sender","z":"2868d66a6daa8be4","g":"944555143e7c97bf","name":"","bot":"","haserroroutput":false,"outputs":1,"x":1110,"y":260,"wires":[[]]},{"id":"c4bab28d03d614e0","type":"function","z":"2868d66a6daa8be4","g":"944555143e7c97bf","name":"Declare Telegram Objects","func":"msg.payload={\n    content:\"Hello World!\",\n    type:'message',\n    chatId:[]//your chat id\n   }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":260,"wires":[["3f087a60f909d773"]]}]
